*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
}

nav{
    display:flex ;
    justify-content: space-between;
    margin: 0px 200px ;
    padding-top:20px;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
nav ul{
    display: flex;
    align-items: center;
}



.nav-title{
    font-weight: 800;
    font-size: 45px;
}
.text-primary{
    color:#FD6E0A;
}

.btn-primary{
    background-color: #FD6E0A;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    height: 64px;
    border-radius: 5px;
    border:none ;
    padding: 18px 35px;

}
.header{
    background-color: #FFF83F;
    background-image:url('../images/header_bg.png'),url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right , left;
}

/* banner section */

.banner{
    margin: 100px 150px;
    align-items: center;
    display: flex;
}
.banner-title{
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
}
.banner-subTitle{
    font-weight: 600px;
    font-size: 30px;
    margin-bottom: 5px;
}
.banner-description{
    color: dimgray;
    margin-bottom: 50px;
}